.msg {
    color: #f1f1f1;
    width: 20%;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 1rem;
    text-align: center;
    font-size: 18px;
    padding: 0.5rem;
    border-radius: 8px ;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.44);
}

#erro {
    background-color: #f54040;
}

#sucess {
    background-color: #00bc00;
}
